/********************************Navbar tablette*******************************/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    #burger{
        display: grid;
    }
    .burger{
        color: white;
        background-color: var(--bleue);
        margin: 0;
        height: 2em;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5em;
    }
    /* Cacher navMobile par défaut , on la montre que si on click sur le burger*/
        .navMobile {
            display: none;
    }

    /* Montrer navMobile lorsque la classe show est présente */
    .navMobile.show{
        display: flex;
        display:flex;
        background-color: var(--bleue);
        color: white;
        text-align: center;
        text-decoration: none;
        flex-direction: column;
        align-items: flex-end;
    
    }
    .navMobile.show a{
        display: flex;
        display:flex;
        background-color: var(--bleue);
        color: white;
        text-align: center;
        text-decoration: none;
        flex-direction: column;
        align-items: flex-end;
    
    }
    #navDesktop{
        display: none;
    }

    /******************************************************************************************************************************************/
    /*Page d'accueil image de couverture version mobile tablette**/
    .imageCover{
        display: flex;
        justify-content: center;
    }
    /***Page d'accueil section actualités**/
    .carrousselActu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cardActu{
        justify-items: center;
        display: grid;
        max-width: 300px;
        overflow: hidden;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        background-color: var(--jaune);
    }
    
    .cardActu img{
        width: 95%;
       
    }
    /***Formulaire de la section participez***/
    .participez{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    /***************Footer****************/
    footer{
        color: white;
        background-color: var(--bleue);
    }
    .footerContainer {
        margin: 3%;
        padding: 3%;
        display:grid;
        grid-template-columns: 1fr;
        align-items: start;
      
    }
    .MentionIcones{
        display: grid;
        justify-content: start;
    }
    .fondLogo{
        background-color: white;
        width: 155px;
    }
    #Logoligue{
        width: 150px;
    }
    .icone1, .icone2, .icone3, .icone4, .icone5{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3px;
        border-radius: 10px;
        font-size: smaller;
    }
/***************************************************************/
 /******************Page Médias***********************************/
 .content{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}
/**Page podcasts*/
.podcastsContainer{
    margin-top: 30px;
}
.podcastsContainer img{
    width: 200px;
height: 180px;
}
/**************************************************************************************/
/***********Page Collectifs**********************/
.Collectifs{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 15px;
}
/************Page galerie photos***/
.GaleriePhotos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

/*********Page Galerie video*************/
.GalerieVideos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 
}
/**************************************************************************************/
/*****************************************************************************************/
/*********Page musique*********/
.MusiqueContainer{
    padding: 15px;
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1.5fr;
}
.DetailMusique{
    margin: 1%;
    padding: 1%;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 30%;
    background-color: #ff6e6176;
    border-radius: 15px;
}

.DetailMusique img{
    justify-self: center;
    width: 85%;
    height: auto; 
}

}