/**je definie les variables de theme*/
:root {
    --bleue: #50BCBD; /* Couleur principale du thème */
    --jaune: #F4D35E; /* Couleur secondaire du thème */
    --rouge: #FF6F61; /* Couleur tertiaire du thème */

  }
/******************************Police pour les textes ************************************/
  @font-face {
    font-family: 'Poppins';
    src: url('assets/font/Poppins-Regular.ttf') format('truetype');
}
h1{
    font-weight: bold;
    color: var(--bleue);
}
a{
    text-decoration: none;
}

*{
   
    font-family: 'Poppins';
}
h2,h3{
    color: var(--rouge);
    font-weight: bold;
}

/************************************Desktop************************************************/
/********************* Navbar desktop ********************/
#burger{
    display: none;
}
.navMobile{
    display: none;
}
.links {
	background-color:var(--bleue);
	box-shadow: 0 0 32px #0003;
	font-size: 1.5em;
}
.links > a {
	color: white;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover { /* on hover, la police est en bold*/
	font-weight: bold;
}
.links > .line {/*ligne en dessous des text on hover*/
	background: var(--jaune);
	height: 5px;
	pointer-events: none;
}

/* Les interactions de la nav bar */
#header {
    width: 100%;
    z-index: 2;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

/***********************************************************************************/
/**Page d'accueil Image de couverture*****/
.imageCover{
    display: grid;
    justify-content: center;
}
/*Page accueil section actualités*/
.carrousselActu
{  display: flex;
    justify-content: center;
    gap: 40px;
    /* overflow:scroll; */
}
.cardActu {
    justify-items: center;
    display: grid;
    max-width: 300px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--jaune);
    transition: transform 0.3s ease;

}

.cardActu img {
    width: 95%;
}
.cardActu {
    text-decoration: none;
    color: black;
}

.cardActu:hover {
    transform: scale(1.05); /*effet on hover*/
}
/*********** main************/
main {
    display:grid;
    align-self: center;
    margin: 30px;
}
/*************** Section participez***/
.participez {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
/*Formulaire*/

.login-form {
    position: relative;
    z-index: 0;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .login-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .login-form button {
    background: var(--jaune);
    width: 100%;
    border: 0;
    padding: 15px;
    color:black;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .login-form button:hover {
    background: var(--rouge);
    color: white;
  }
  
/*******************************************************************************/

/**scroll up button**/
#btn-back-to-top {
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
    padding: 6px;
    background: var(--bleue);
    border-radius: 50px;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
/************footer*************/
footer{
    width: 100%;
    color: white;
    display: flex;
    background-color: var(--bleue);  
}
.footerContainer {
    margin: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 20px;
}
.MentionIcones{
    display: grid;
    justify-content: flex-end;
}
.fondLogo{
    background-color: white;
    width: 257px;
}
.socialNetwork{
    display: flex;
    gap: 7px;
    justify-content: space-between;
    align-items: center;

}
.icone1, .icone2, .icone3, .icone4, .icone5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}
.icone1, .icone3, .icone5{
    background-color: var(--jaune);
}
.icone2, .icone4{
    background-color: var(--rouge);
}

/*****************************************************************************/
/***********Page medias cards************/
.content{
    padding: 15%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  
}
#card1{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--jaune);
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.3s ease; /* Add a transition for smoother animation */

}
#card2{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bleue);
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.3s ease; /* Add a transition for smoother animation */

}
#card3{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rouge);
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.3s ease; /* Add a transition for smoother animation */

}
#card4{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px;
    transition: transform 0.3s ease; /* Add a transition for smoother animation */

}

.card :hover{
    transform: scale(1.05);
}



/**************************************************************************/
/**Page Detail Podcasts*/
.podcastsContainer{
    padding-left:25px ;
    padding-right: 5px ;

}
/********Page Podcast Desktop******************/
.podcast{
    padding: 10px;
    display: flex;
    gap: 25px;
}
.podcastsContainer a {
    text-decoration: none;
    color: black;
}
.podcast > article{
    width: 70vw;
}
.podcast img{
    padding: 3px;
}



/**************************************************************************************/
/***********Page Collectifs**********************/
.Collectifs{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.cardCollectif{
    justify-items: center;
    display: grid;
    max-width: 300px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: black;
    z-index: -1;
    background-color: var(--rouge);
    transition: transform 0.3s ease;
}
.cardCollectif img {
    width: 95%;
}

.cardCollectif:hover {
    transform: scale(1.05);

.cardCollectif h6{
    font-size: larger;
}
}

/******************************************************************************************/
/*************Page detail collectif***********************************/

.detailsCollectif {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-top: 20px; 
}

.detailsCollectif img {
    max-width: 95%; 
    height: auto; 
}

.detailsCollectif article {
    margin-top: 20px; /* Add space between image and article */
}
/**********************************************************/
/*******Page Galerie Photo*****************/
.GaleriePhotos{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}

.cardPhoto{
    justify-items: center;
    display: grid;
    max-width: 300px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--rouge);
    transition: transform 0.3s ease;

}

.cardPhoto img{
    width: 95%;
}

.cardPhoto:hover{
    transform: scale(1.05);
}
/*************************************************************************************/
/******************Page DetailPhoto*******************/

.carrouselContainer{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.precedent, .suivant {
    color: gray;
    font-size: xx-large;
    cursor: pointer;

}

    /***************************************************************/
/*********Page Galerie video*************/
.GalerieVideos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 
}
.cardVideo{
    justify-items: center;
    display: grid;
    max-width: 300px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--rouge);
    transition: transform 0.3s ease;

}
.cardVideo img{
    width: 95%;
}

.cardVideo:hover{
    transform: scale(1.05);
}
.cardVideo p{
    color: black;
}

/*******************************************************/
/*************Page detail video **********************/
video{
    width: 70%;
    height:80%;
}
.videoContainer{
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
}
.cardPhoto p, h4{
    color: black;
}

/*********************************************************************/

/***********************************************************************************/
/************************Page detailevent article evennement*****************************/


.articleContainer{
    display: grid;
    justify-content: center;
    align-items: center;
}
.articleContainer img{
    justify-self: center;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    
}


/*****************************************************************************************/
/*********Page musique*********/
.MusiqueContainer{
    padding: 15px;
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr;
}


.Musique{
    cursor: pointer;
}
.musiqueListe :hover{
 
    background-color: var(--rouge);
}

.DetailMusique{
    margin: 1%;
    padding: 1%;
    display: grid;
    align-items: center;
    height: 40%;
    background-color: #ff6e6176;
    border-radius: 15px;
}
.DetailMusique img{
    justify-self: center;
    width: 85%;
    height: auto; 
}

/*}*/