/********************************Navbar mobile et tablette*******************************/
@media screen and (max-width: 991px){
    .burger{
        color: white;
        background-color: var(--bleue);
        margin: 0;
        height: 2em;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 2em;
    }
    /* Cacher navMobile par défaut */
        .navMobile {
            display: none;
    }

    /* Montrer navMobile lorsque la classe show est présente */
    .navMobile.show{
        display: flex;
        display:flex;
        background-color: var(--bleue);
        color: white;
        text-align: center;
        text-decoration: none;
        flex-direction: column;
        align-items: flex-end;
    
    }
    .navMobile.show a{
        display: flex;
        display:flex;
        background-color: var(--bleue);
        color: white;
        text-align: center;
        text-decoration: none;
        flex-direction: column;
        align-items: flex-end;
    
    }
    #navDesktop{
        display: none;
    }
    /*Page d'accueil image de couverture version mobile tablette**/
    .imageCover{
        display: flex;
        justify-content: center;
    }
    /***Page d'accueil section actualités**/
    .carrousselActu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cardActu{
        justify-items: center;
        display: grid;
        max-width: 300px;
        overflow: hidden;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        background-color: var(--jaune);
    }
    
    .cardActu img{
        width: 95%;
       
    }
    /***Formulaire de la section participez***/
    .participez{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    
    /*Formulaire*/
  /* #motDePasse{
        text-decoration: none;
        background-color: none;
        color: black;
    } */


    /***************Footer****************/
    footer{
        color: white;
        background-color: var(--bleue);
    }
    .footerContainer {
        margin: 3%;
        padding: 3%;
        display:grid;
        grid-template-columns: 1fr;
        align-items: start;
      
    }
    .MentionIcones{
        display: grid;
        justify-content: start;
    }
    .fondLogo{
        background-color: white;
        width: 155px;
    }
    #Logoligue{
        width: 150px;
    }
    .icone1, .icone2, .icone3, .icone4, .icone5{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3px;
        border-radius: 10px;
        font-size: smaller;
    }
/***************************************************************/
/************Page galerie photos***/
.GaleriePhotos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

/*********Page Galerie video*************/
.GalerieVideos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 
}
/**************************************************************************************/
/***********Page Collectifs**********************/
.Collectifs{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


}